<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="apiURL" value="https://www.bing.com/HPImageArchive.aspx?format=js&#038;idx=0&#038;n=1&#038;mkt=en-US"/>
    </appSettings>
</configuration>